@model IEnumerable<UsuarioModel>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Listagem de Usuário</h1>
        <a class="btn btn-primary" asp-action="Cadastrar">Novo Chamado</a>
    </div>

    <!-- Faz com que apareça a mensagem de sucesso de na ação -->
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success text-light" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-success text-light" role="alert">
            @TempData["MensagemErro"]
        </div>
    }

    <table id="table-usuarios" class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Email</th>
                <th>Data de cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.DataCadastro</td>

                        <td>
                            <a asp-controller="Chamados" asp-action="Editar" asp-route-id="@usuario.Id" class="btn btn-primary mx-2">Editar</a>
                            <a asp-controller="Chamados" asp-action="Excluir" asp-route-id="@usuario. Id" class="btn mx-2">Excluir</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">Nenhum usuário encontrado.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
